.hero {
  background-color: #f7f7f7;
  padding: 100px 0;

  .intro-excerpt h1 {
    font-weight: 700;
    color: #2f2f2f;
  }
  .btn-secondary {
    background: #f9bf29;
    border: none;
  }
}

.section-title {
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #2f2f2f;
}

.feature {
  margin-bottom: 30px;
  .icon img {
    width: 40px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
}

// .why-choose-section {
//     .py-6 {
//       padding: 10rem 0 !important;
//     }
// }